<!doctype html>
<html>
    <head>
        <title>Prototype</title>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.main.css %>">
    </head>
    <body>
        <div class="js-inject-target"></div>

        <script src="https://static.sekandocdn.net/static/feednami/feednami-client-v1.1.js"></script>
        <script src="<%= htmlWebpackPlugin.files.chunks.vendor.entry %>" defer></script>
        <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>" defer></script>
    </body>
</html>
